# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Serialized model/vector files
*.pkl

# Virtual environments
venv/
.venv/
env/
.env

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
